<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />
<roundcube:include file="includes/settings-menu.html" />

<h1 class="voice"><roundcube:label name="test" /></h1>

<div id="layout-content" class="selected" role="main">
	<div class="header">
		<a class="button icon back-list-button" href="#back"><span class="inner"><roundcube:label name="back" /></span></a>
		<span class="header-title"><roundcube:label name="test.settingspage" /></span>
	</div>
	<div class="formcontainer scroller" aria-labelledby="aria-label-form1">
		<div class="formcontent">
			<fieldset><legend>Heading</legend>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
			<br>
			<roundcube:object name="form1" id="form1" class="propform" />
		</div>
		<div class="formbuttons">
			<roundcube:button command="save" class="btn btn-primary submit" label="save" />
		</div>
	</div>
</div>

<roundcube:include file="includes/footer.html" />
